.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
/* share style */
.color-bg{
    background-color: #FFF8F3;
}
.text-color{
    color: #FD6E0A;
}
.color-dark-1{
    color: #181818;
}
.color-dark-2{
    color: #474747;
}
.color-dark-3{
    color: #757575;
}
.btn-container{
    text-align: center;
    margin-top: 50px;
}
.btn-primary{
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 10px;
}
.btn-primary:hover{
    font-size: 20px;
    color: #FD6E0A;;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 10px;
}
.btn-secondary{
    font-size: 20px;
    color: #FD6E0A;;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 10px;
}
.btn-secondary:hover{
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 10px;
}

/* header style */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
    padding: 30px 0px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav .ul-items{
    display: flex;
    gap: 50px;
    align-items: center;
}
nav .text-icon{
    font-weight: bold;
    font-size: 45px;
}

/* hero section style*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 230px;
}
.banner-content{
    width: 600px;
}
.banner-greeting{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}

/* main style  */
.main{
    max-width: 1240px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about section style  */
.about{
    border-radius: 10px;
    padding: 100px 150px;
}
.inner-about-box{
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(62, 62, 62);
}
.title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.description{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 100px;
}
.items{
    display: flex;
    justify-content: space-around;
}
.items .item p{
    text-align: center;
    font-size: 20px;
}
.card-items{
    display: flex;
    justify-content: space-around;
}
.card-item{
    width: 265px;
    padding: 50px;
    margin: 0 8px;
    /* border: 1px solid black; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card-items .card-item img{
    padding-bottom: 30px;
}
.card-items .card-item h4{
    padding-bottom: 20px;
}

/* resume section style  */
.resume-content-box{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 113px;
}
.resume-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.education-title{
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.education-subtitle{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.education-description{
    font-size: 16px;
    margin-bottom: 30px;
}

/* footer section style  */
footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer h3{
    font-weight: bold;
    font-size: 32px;
}
.footer-column p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer-column a{
    margin-right: 10px;
}
footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 24px;
    border: none;
}

/* small device  */
.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 0px 20px 0px 20px;
    }
    .banner img{
        width: 100%;
    }
    .banner-greeting{
        font-size: 30px;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner-content {
        width: 365px;
        margin-top: 30px;
    }
    .btn-primary, .btn-secondary{
        font-size: 16px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
}